.render-pokemon-wrapper {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid;
  padding: 30px 10px 30px 10px;
  border-radius: 7px;
  position: relative;
}

.render-pokemon-img {
  width: 140px;
  position: absolute;
  top: -95px;
  filter: drop-shadow(1px 2px 5px black);
}

.render-pokemon-id {
  font-size: 18px;
  opacity: 0.6;
  font-weight: 600;
  margin-bottom: 5px;
}

.render-pokemon-name {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}

.render-pokemon-name::first-letter {
  text-transform: capitalize;
}

.render-pokemon-type {
    /* border: 1px solid; */
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
    font-weight: 500;
}

.render-pokemon-type::first-letter {
  text-transform: capitalize;
}
